.ssn-auth {
  &__info {

  }
  &__form {
    max-width: 500px;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    &__inp {
      input {
        text-align: center;
        width: 100%;
        height: 40px;
        border: 1px solid dodgerblue;
      }
    }
    &__sub {
      button {
        border-radius: 5px;
        width: 100%;
        height: 40px;
        border: none;
        text-transform: uppercase;
        color: white;
        background: dodgerblue;
      }
    }
  }
}