doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title= title
        each css in files.CSS
            link(rel="stylesheet", href=`../${css}`)

    body
        h1= title
        p Esto es solo una prueba
        h3 Esta sera otra prueba y veremos
        h5 vamos hacer otra prueba
        h2 test
        a(href="http://escuela.digital" target="_blank") Escuela Digital
        each js in files.JS
            script(src=`../${js}`)
