doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="../css/myb_signup.css")
        title Document
    body
        .container
            .row
                .signup
                    .signup__logo
                        a(href="#")
                            img(src="../img/myb_logo.png")
                    .signup__form.clearfix
                        .signup__form__title
                            h2.text-center  CREATE YOUR ACCOUNT
                        .signup__form__signin
                            p.text-center ALREADY HAVE AN ACCOUNT&nbsp;
                                a(href="#")
                                    | LOGIN HERE
                        form.signup__form__post.clearfix
                            .col-xs-12.col-sm-6
                                .row
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            input.form-control(placeholder="First Name")
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            input.form-control(placeholder="Last Name")
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            input.form-control(placeholder="Mobile Phone Only")
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            input.form-control(placeholder="Zip Code")
                                    .col-xs-4
                                        .form-group
                                            select.form-control
                                                option MM
                                    .col-xs-4
                                        .form-group
                                            select.form-control
                                                option DD
                                    .col-xs-4
                                        .form-group
                                            select.form-control
                                                option YY
                                    .col-xs-12
                                        .form-group
                                            input.form-control(placeholder="Email")
                            .col-xs-12.col-sm-6
                                .row
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            input.form-control(placeholder="Choose Password")
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            input.form-control(placeholder="Re Enter Password")
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            input.form-control(placeholder="Email")
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            input.form-control(placeholder="Promocode")
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            select.form-control
                                                option How did you hear about us
                                    .col-xs-12.col-sm-6
                                        .form-group
                                            select.form-control
                                                option Please Specify
                            .col-xs-12.col-sm-6(style="clear: both")
                                .row
                                    .col-xs-12.signup__form__checkboxes
                                        .form-group
                                            .checkbox
                                                input.custom_checkbox(type="checkbox")
                                                label
                                            .checkbox
                                                input.custom_checkbox(type="checkbox")
                                                label
                                            .checkbox
                                                input.custom_checkbox(type="checkbox")
                                                label
                                            .checkbox
                                                input.custom_checkbox(type="checkbox")
                                                label
                                                span tst
                            .col-xs-12.col-sm-6
                                .row
                                    .col-xs-12
                                    .col-xs-12
                                        input(value="Register" type="submit").register

                    .signup__footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
