doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title Change
        // build:css css/estilos.min.css
        each css in files.CSS
            link(rel="stylesheet", href=`../../${css}`)
        // endbuild
    body
        .jumbotron
            .container
                h1 Hello World
                p This is just a test for jumbotron render


        // build:js js/codigos.min.js
        each js in files.JS
            script(src=`../../${js}`)
        // endbuild
