@mixin cover-background($img-uri) {
  background: url($img-uri) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@mixin mq-min($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin center($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin mycheck {
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox'] + label{
    display: block;
    // float: right;
    margin: 0 8px 0 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #999;
    cursor: pointer;
    background: #fff url("../img/input-unchecked.png");
    background-position: 2px center;
  }
  input[type='checkbox']:checked + label {
    background: #fff url("../img/input-checked.png");
    background-repeat: no-repeat;
    background-position: 2px center;
  }
}